main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  grid-template-areas:
"ca ca"
"cb cb"
"cc cc"
"cd cd"
"ce cf"
"cg ch"
"ci ci";
}

.color-a {
  grid-area: ca;
}

.color-b {
  grid-area: cb;
}

.color-c {
  grid-area: cc;
}

.color-d {
  grid-area: cd;
}

.color-e {
  grid-area: ce;
}

.color-f {
  grid-area: cf;
}

.color-g {
  grid-area: cg;
}

.color-h {
  grid-area: ch;
}

.color-i {
  grid-area: ci;
}

@media (min-width: 720px) {
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 1fr 2fr 3fr 3fr 1fr;
  grid-template-areas:
"ca ca ca ca"
"cb cb cb cb"
"cc ce cf cd"
"cc cg ch cd"
"ci ci ci ci";
}
}

@media (min-width: 960px) {
main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20.84% repeat(4, 19.79%);
  grid-template-rows: 14.29% 28.57% 35.71% 21.43%;
  grid-template-areas:
"ca ca ca ca ca"
"cb cc cc cd cd"
"cb ce cf cg ch"
"cb ci ci ci ci";
}
}
