
* {
  font-size: 1.5rem;
  font-weight: bold;
}

div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-a {
  background-color: rgba(255, 0, 0, 0.4);
}

.color-b {
  background-color: rgba(255, 68, 0, 0.4);
}

.color-c {
  background-color: rgba(255, 166, 0, 0.4);
}

.color-d {
  background-color: rgba(255, 255, 0, 0.4);
}

.color-e {
  background-color: rgba(153, 205, 50, 0.4);
}

.color-f {
  background-color: rgba(0, 128, 0, 0.4);
}

.color-g {
  background-color: rgba(4, 83, 83, 0.4);
}

.color-h {
  background-color: rgba(0, 0, 255, 0.4);
}

.color-i {
  background-color: rgba(128, 0, 128, 0.4);
}

@media (min-width: 720px) {
  .color-a {
    background-color: rgba(128, 0, 128, 0.6);
  }

  .color-b {
    background-color: rgba(0, 0, 255, 0.6);
  }

  .color-c {
    background-color: rgba(4, 83, 83, 0.6);
  }

  .color-d {
    background-color: rgba(0, 128, 0, 0.6);
  }

  .color-e {
  background-color: rgba(153, 205, 50, 0.6);
}

  .color-f {
    background-color: rgba(255, 255, 0, 0.6);
  }

  .color-g {
    background-color: rgba(255, 166, 0, 0.6);
  }

  .color-h {
    background-color: rgba(255, 68, 0, 0.6);
  }

  .color-i {
    background-color: rgba(255, 0, 0, 0.6);
  }
}

@media (min-width: 960px) {
  .color-a {
  background-color: rgba(255, 0, 0, 0.8);
}

.color-b {
  background-color: rgba(255, 68, 0, 0.8);
}

.color-c {
  background-color: rgba(255, 166, 0, 0.8);
}

.color-d {
  background-color: rgba(255, 255, 0, 0.8);
}

.color-e {
  background-color: rgba(153, 205, 50, 0.8);
}

.color-f {
  background-color: rgba(0, 128, 0, 0.8);
}

.color-g {
  background-color: rgba(4, 83, 83, 0.8);
}

.color-h {
  background-color: rgba(0, 0, 255, 0.8);
}

.color-i {
  background-color: rgba(128, 0, 128, 0.8);
}
}